<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/css/style.css' />
  <title><%= title %></title>
</head>
<body>
  <nav>
    <img src="/images/delivery.png">
    <h1>On the Way!</h1>
    <a href="/users/signin" <%- title === 'Sign In' ? 'class="active"' : '' %>>Sign In</a>

    <a href="/users/new" <%- title === 'Sign Up' ? 'class="active"' : '' %>>Sign Up</a>

    <a href="/orders/new" <%- title === 'Add Order' ? 'class="active"' : '' %>>Add Order</a>

    <a href="/orders" <%- title === 'All Orders' ? 'class="active"' : '' %>>All Orders</a>
  </nav>

  
    