<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Packages</title>
  </head>
  <body>
    <h1>My Packages</h1>
    <a href="/orders/new">Add Another Order</a>
    <table>
      <thead>
        <th>Tracking Number:</th>
        <th>Shipped by:</th>
        <th>Ordered From:</th>
        <th>Order Description:</th>
      </thead>
      <tbody>
        <% orders.forEach(function(order, idx) { %>
        <tr>
          <td><%=order.trackingNum%></td>
          <td><%=order.carrier%></td>
          <td><%=order.vendor%></td>
          <td><%=order.itemDescription%></td>
          <td>
            <form action="/orders/<%= idx%>?_method=DELETE" method="post">
              <button type="submit">Remove My Order</button>
            </form>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
