<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Packages</title>
  </head>
  <body>
    <h1>Order Description</h1>
    <a href="/orders">View All Orders</a>

    <table>
      <thead>
        <th>Tracking Number:</th>
        <th>Shipped by:</th>
        <th>Ordered From:</th>
        <th>Order Description:</th>
        <th>Ordered On:</th>
        <th>Delivered?</th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td><%=order.trackingNum%></td>
          <td><%=order.carrier%></td>
          <td><%=order.vendor%></td>
          <td><%=order.itemDescription%></td>
          <td><%=order.dateOrdered.toLocaleDateString()%></td>
          <td><input type="checkbox" name="delivered" checked /></td>
          <a href="/orders/<%=order._id%>/edit">Edit</a>
          <td>
            <form action="/orders/<%= order._id%>?_method=DELETE" method="post">
              <button type="submit">Remove My Order</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
